In [1]:
import pandas as pd

In [2]:
s=pd.read_csv("/kaggle/input/download-csv-file/submission.csv")
s

     Unnamed: 0  data
0             0     0
1             1     1
2             2     2
3             3     3
4             4     4
..          ...   ...
995         995   995
996         996   996
997         997   997
998         998   998
999         999   999

[1000 rows x 2 columns]

In [3]:
s.drop_duplicates()

     Unnamed: 0  data
0             0     0
1             1     1
2             2     2
3             3     3
4             4     4
..          ...   ...
995         995   995
996         996   996
997         997   997
998         998   998
999         999   999

[1000 rows x 2 columns]

**handling null values**

In [4]:
a=pd.Series([12,34,56,23,None],index=['hyd','vizag','mumbai','pune','chennai'])
a

hyd        12.0
vizag      34.0
mumbai     56.0
pune       23.0
chennai     NaN
dtype: float64

**Finding if there is a NULL record**

In [5]:
a.isna()

hyd        False
vizag      False
mumbai     False
pune       False
chennai     True
dtype: bool

In [6]:
mask=a.isna()
a[mask]

chennai   NaN
dtype: float64

In [7]:
a.dropna()

hyd       12.0
vizag     34.0
mumbai    56.0
pune      23.0
dtype: float64

In [8]:
a.fillna(3)

hyd        12.0
vizag      34.0
mumbai     56.0
pune       23.0
chennai     3.0
dtype: float64

In [9]:
s

     Unnamed: 0  data
0             0     0
1             1     1
2             2     2
3             3     3
4             4     4
..          ...   ...
995         995   995
996         996   996
997         997   997
998         998   998
999         999   999

[1000 rows x 2 columns]

In [10]:
s.describe()

        Unnamed: 0         data
count  1000.000000  1000.000000
mean    499.500000   499.500000
std     288.819436   288.819436
min       0.000000     0.000000
25%     249.750000   249.750000
50%     499.500000   499.500000
75%     749.250000   749.250000
max     999.000000   999.000000

In [11]:
mask=s.isna()
s[mask]

     Unnamed: 0  data
0           NaN   NaN
1           NaN   NaN
2           NaN   NaN
3           NaN   NaN
4           NaN   NaN
..          ...   ...
995         NaN   NaN
996         NaN   NaN
997         NaN   NaN
998         NaN   NaN
999         NaN   NaN

[1000 rows x 2 columns]